# # ===========================
# # Global settings
# # ===========================
# global
#     log stdout format raw daemon
#     maxconn 4096
#     daemon

# # ===========================
# # Default settings
# # ===========================
# defaults
#     log     global
#     mode    http
#     option  httplog
#     timeout connect 5s
#     timeout client 30s
#     timeout server 30s

# # ===========================
# # Frontend
# # ===========================
# # frontend http_front
#     bind *:80

#     # ===========================
#     # API Backend ACLs
#     # ===========================
#     acl api_v1 path_beg /v1
#     acl swagger path_beg /api-docs
#     use_backend express_nodes if api_v1 or swagger

#     # ===========================
#     # Frontend Admin
#     # ===========================
#     acl fe_admin path_beg /admin
#     use_backend fe_admin_nodes if fe_admin

#     # ===========================
#     # Frontend User / Default
#     # ===========================
#     acl fe_user path_beg /user
#     use_backend fe_user_nodes if fe_user

#     ##phpmyadmin
#     acl phpmyadmin path_beg /database-sekolahcasn
#     use_backend phpmyadmin_nodes if phpmyadmin

#         # ===========================
#     # Uploads (Static Files)
#     # ===========================
#     acl uploads path_beg /uploads
#     use_backend express_nodes if uploads
    


#     default_backend fe_user_nodes

# # ===database phpmyadmin====
# backend phpmyadmin_nodes
#     balance roundrobin
#     option http-server-close
#     server phpmyadmin phpmyadmin:80 check
#     # rewrite /database-sekolahcasn -> /
#     http-request set-path %[path,regsub(^/database-sekolahcasn/,/)]



# # ===========================
# # Backend - API user / member
# # ===========================
# backend express_nodes
#     balance roundrobin
#     option httpchk GET /health
#     http-check expect status 200
#     # Hapus rewrite path supaya path asli dikirim ke backend
#     server-template backend 3 backend:3001 check inter 5s resolvers docker init-addr none

# # ===========================
# # Backend - Admin
# # ===========================
# backend fe_admin_nodes
#     balance roundrobin
#     option http-server-close
#     server fe_admin dashadmin:3000 check

# # ===========================
# # Backend - User / Default
# # ===========================
# backend fe_user_nodes
#     balance roundrobin
#     option http-server-close
#     server fe_user dashuser:3000 check

# # ===========================
# # DNS resolver
# # ===========================
# resolvers docker
#     nameserver dns1 127.0.0.11:53
#     resolve_retries 3
#     timeout retry 1s
#     hold valid 10s

# # ===========================
# # Stats page
# # ===========================
# listen stats
#     bind *:1936
#     mode http
#     stats enable
#     stats uri /
#     stats refresh 5s



# #===production in here e=e==
# ===========================
# Global settings
# ===========================
global
    log stdout format raw daemon
    maxconn 4096
    daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80

    acl haproxy_dash path_beg /haproxy-dash
    use_backend haproxy_stats if haproxy_dash

    acl api_v1 path_beg /v1
    acl swagger path_beg /api-docs
    use_backend express_nodes if api_v1 or swagger

    acl phpmyadmin path_beg /database
    use_backend phpmyadmin_nodes if phpmyadmin

    acl uploads path_beg /uploads
    use_backend express_nodes if uploads

    default_backend express_nodes

backend express_nodes
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server-template backend 3 backend:3001 check inter 5s resolvers docker init-addr none

backend phpmyadmin_nodes
    balance roundrobin
    option http-server-close
    server phpmyadmin phpmyadmin:80 check
    http-request set-path %[path,regsub(^/database/,/)]

backend haproxy_stats
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats hide-version
    stats realm Haproxy\ Statistics
    stats auth admin:admin

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout retry 1s
    hold valid 10s
