{
  "openapi": "3.0.0",
  "info": {
    "title": "API Webinarku Admin",
    "description": "Dokumentasi API untuk sekolah CASN",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.webinarku.tech/app2/v1/admin",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3001/app2/v1/admin",
      "description": "Local Development Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/count-alluser": {
      "get": {
        "summary": "Menghitung total pengguna dan menampilkan daftar lengkap pengguna",
        "tags": ["auth member"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Berhasil mendapatkan jumlah dan daftar pengguna"
          },
          "401": {
            "description": "Unauthorized - Token tidak valid atau belum login"
          },
          "500": {
            "description": "Terjadi kesalahan internal di server"
          }
        }
      }
    },
    "/adminget-community": {
      "get": {
        "summary": "Ambil daftar komunitas (khusus admin)",
        "tags": ["auth member"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Berhasil mengambil daftar komunitas" },
          "401": { "description": "Unauthorized - Token tidak valid atau belum login" },
          "500": { "description": "Gagal mengambil data komunitas" }
        }
      }
    }
  }
}
